html, body {height: 100%;}

body {
	background: white;
	margin: 0;
	font-family: Times, serif;
	font-size: 50px;
	color: black;
	transition: 1s;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main {
	margin: 50px;
}

h1 {
	margin: 0;
	font-size: 100px;
}

.next, .counter {
	font-size: 14px;
}

.counter {
	margin-left: 5px;
	display: none;
}

[data-420] .next {
	display: none;
}

[data-420] .counter {
	display: none;
}

[data-420] {
	background: #03C76F;
	color: white;
	transition: 5s;
}

.ad {
	overflow: hidden;
}

@media screen and (max-width: 800px) {
	h1 {
		font-size: 9.8vw;
	}

	body {
		font-size: 6.25vw;
	}
}
